<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tambah Product</title>
  </head>
  <body>
    <%= form_for @product do |product| %>
    <div>
      <%= product.label :name %>
      <%= product.text_field :name %>
    </div>
    <div>
      <%= product.label :description %>
      <%= product.text_field :description %>
    </div>
    <div>
      <%= product.label :price %>
      <%= product.text_field :price %>
    </div>
    <div>
      <%= product.submit %>
    </div>
    <% end %>
  </body>
</html>
