<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Products</title>
  </head>
  <body>
    <h1>Product List</h1>

    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </thead>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= link_to "Edit", edit_product_path(product) %></td>
        <td><%= link_to "Delete", product, method: :delete, data: { confirm: "Yakin mau di delete ?"} %></td>

      </tr>
      <% end %>
      <%= link_to "Tambah Product", new_product_path %>

    <table>

  </body>
</html>
